language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

cache:
  directories:
    - vendor
    - ~/.composer/cache
    - ~/cphalcon

before_install:
  - chmod +x bin/*.sh
  - pecl channel-update pecl.php.net
  - bin/install-yaml.sh
  - echo "extension=yaml.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - composer install --dev -o --prefer-source --no-interaction
  - bin/install-phalcon.sh v3.0.4

script:
  - php -r "echo \Phalcon\Version::get();"
  - vendor/bin/phpunit

addons:
  apt:
    packages:
      - libyaml-dev
